#featured{
   
    .title{
        span{
            font-size: 30px;
            font-weight: 700;
            margin-bottom: 22px;
            color: $color-primary;
            display: inline-block;
            font-family:$sacremoto-font;
            text-align: center;
        }
        h1{
            color: $color-black;
            font-size: $title-font-size;
            font-weight: 600;
        }
    }
    .section-card{
        border: 1px solid #e1ebf7;
        position: relative;
        height: 100%;
        &:hover .card-icon {
            color: white;
        }
        &:hover .card-title h5 a {
            color: white;
        }
        &:hover .card-body p {
            color: white;
        }
        &:hover .card-body a {
            color: white;
            
        }
       
        &:hover .move-up{
          transform: scaleY(1);
        }
        .move-up{
            background: $color-primary;
            width: 100%;
            height: 345px;
            transition: 0.5s;
            position: absolute;
            transform: scaleY(0);
            transform-origin: bottom;
            z-index: 1;
        }
        .card-icon{
            color: $color-secondary;
            font-size: $title-font-size;
             margin-bottom: 30px;
             display: block;
             z-index: 300;
             transition: 0.6s;
        }
        .card-title{
            z-index: 500;
          h5{
           a{
               text-decoration: none;
               color: $color-text;
               font-size: 25px;
               transition: 0.5s;
           }
          }
        }
        .card-body{
            z-index: 450;
            p{
                color: $color-sub-title;
                margin-bottom: 30px;
                font-size: $text-font-size;
                font-family: $primary-font;
                $color-gray:#57667e;
               
            }
            a{
                text-decoration: none;
                color: $color-text;
            }
        }
    }
}


