header{
    position: absolute;
    top: 20px;
    z-index: 99;
    width: 100%;
    transition: all 0.5s;
    &.is-sticky{
        position: fixed;
        top: 0;
        transition: 0.5s;
        .navbar{
            margin-top: 0px;
            background-color: $color-black;
        }
      
    }
}
#header{
    .navbar{
        margin-right: 10px;
        margin: 0px 0px;
        .navbar-collapse{
            .navbar-nav{
                .nav-item{
                    margin-left: 15px;
                    .nav-link{
                        color:$color-white;
                        font-size: $text-font-size;
                        .btn-special{
                            color:$color-white ;
                            background-color: $color-primary;
                            border: 1px solid $color-primary;
                            padding: 11px 30px;
                            border-top-left-radius: 36px;
                            border-top-right-radius: 36px;
                            border-bottom-left-radius: 36px;
                            border-bottom-right-radius: 36px;
                            margin-top: -7px;
                        }
                    }
                }
                .navbar-text{
                   margin-left: 10px;
                    color:$color-white;
                    .fal{
                    margin-left: 15px;
                   
                    }
                    a{
                        margin-left: 5px;
                        color:$color-white;
                        font-size: $text-font-size;
                        text-decoration: none;
                        margin-right: 5px;
                        
                    }
                }
            }
        }
    }
}
.navbar-toggler-icon{
    color: white;
    background-color: $color-black !important;
    margin-right: 20px;
    &:focus{
        outline: none;
    }
}

@media screen and (max-width:990px){

}
@media screen and (max-width:720px){
    
}
@media screen and (max-width:540px){
    
}

@media screen and (max-width:320px){
  
}
