

#intro-page{
background-image: url("../img/hero/hero2.jpg");
position: relative;
background-size: cover;
background-repeat: no-repeat;
background-position: center center;
z-index: -1;
&::after{
position: absolute;
content: "";
width: 100%;
height: 100%;
top: 0px;
left: 0px;
background-color: $opacity-color;
}
    .title-page{
    margin: auto;
    padding: 230px 0px;
    z-index: 99;
        h2{
     
        color: $color-white;
        font-size: $title-font-size;

        }
    }
}

@media screen and (max-width:990px){

}
@media screen and (max-width:720px){
    
}
@media screen and (max-width:540px){
    
}

@media screen and (max-width:320px){
    #intro-page{
     width: 320px;    
    }
    #map{
        .map_x{
            width: 100% !important;
        }
    }
}


