#popular{
    width: 100%;
    .title{
        span{
            font-size: 30px;
            font-weight: 700;
            margin-bottom: 22px;
            color: $color-primary;
            display: inline-block;
            font-family:$sacremoto-font;
            text-align: center;
        }
        h1{
            color: $color-black;
            font-size: $title-font-size;
            font-weight: 600;
        }
    }
   .single-card{
       position: relative;
      
       &:hover .location-country{
           h1{
               bottom: 60px;
               transition: 1s;
           }
           .location-city-count{
              bottom: 20px;
              opacity: 1;
              transition: 1s;
           }
       }
       .image-card{
           overflow: hidden;
           border-top-left-radius: 8px;
           border-top-right-radius: 8px;
           border-bottom-left-radius: 8px;
           border-bottom-right-radius: 8px;
           img{
            transition: all 2s;
            &:hover{
                transform: scale(1.1);
                transition: 2s;
            }
           }
       }
       .location-country{
        
           h1{
                 position: absolute;
                 bottom: 20px;
                 left: 20px;
                 color: $color-white;
                 transition: all 1s;
           }
            .location-city-count{
                transition: all 1s;
                 position: absolute;
                 bottom: 0px;
                 left: 18px;
                 bottom: -20px;
                 opacity: 0;
                
                
              a{
                  text-decoration: none;
                  @extend %btn-location-extend;
                  &:hover{
                      color:  $color-white;
                      background-color: $color-secondary;
                      transition: 1s;
                  }
              } 
          }
       }
    }
    .button{
        margin: auto;
        margin-top: 25px;
        .btn{
            background-color: $color-primary;
            text-transform: uppercase;
            border-top-left-radius: 15px;
            border-bottom-left-radius: 15px;
            border-top-right-radius: 15px;
            border-bottom-right-radius:15px;
            border: 1px solid $color-primary;
            padding: 12px 22px;
            transition: all 0.3s;
            a{
                text-decoration: none;
                color: $color-white;
            }
            &:focus{
                background: none;
                outline: none;
                border: none;
            }
            &:hover{
                background-color: $color-secondary;
                border: 1px solid $color-secondary;
                transition: 0.3s;
            }
        }
    }
}

%btn-location-extend{
    color: $color-secondary;
    background-color: $color-white;
  
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius:15px;
   
}
@media screen and (max-width:990px){
 
}
@media screen and (max-width:720px){
    
}

@media screen and (max-width:540px){

}
@media screen and (max-width:375px){
  #popular{
      .title{
          text-align: center;
      }
  }
}