#subscribe{
    background-image: url('../img/gallery/section_bg04.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    min-height: 530px;
    z-index: -1;
    margin-top: 50px;
    .title{
        padding-top: 100px;
        margin: auto;
        z-index: 999;
        position: relative;
        span{
            color: $color-title;
            font-size: $sub-title-font-size;
            font-weight: 700;
            margin-bottom: 20px;
            font-family: $sacremoto-font;
            display: inline-block;
        }
        h1{
          color: $color-white;
          font-size: $title-font-size;
          margin-top: 20px;
        }
    }
    .input{
        padding-top:40px ;
        .input-group{
            margin: auto; 
            height: 70px;
            .looking{
                border-top-left-radius: 30px;
                border-bottom-left-radius: 30px;
                padding: 30px;
                height: 100px;
            }
        }
        .send{
            height: 70px;
            .send-btn{
                background-color: $color-primary;
                color: #fff;
                border-color:$color-primary;
                border-top-right-radius: 30px;
                border-bottom-right-radius: 30px;
            }
        }
    }
}