#get_in_touch{

    .send_form{
        .button-contact{  
            .btn{
                font-size: 14px;
                color: $color-secondary;
                background-color: $color-white;
                border: 1px solid $color-secondary; 
                padding: 18px 44px;
                letter-spacing: 3px;
                font-family: $primary-font;
                margin-left: 5px;
                border-radius: 0px;
                transition: all 0.5s;
                outline: none !important;

                &:hover{
                    transition: 0.5s;
                    color: $color-white;
                    background-color: $color-secondary;
                }
            }
         
        }
    }
   .contact-info{
       position: relative;
       margin-left: 40px;
       .contact-icon{
       
        .fal{
            color:$color-gray ;
            font-size: 32px;
            position: absolute;
            top: 5px;
            left: 20px;
           }
           .fa-mobile-alt{
               position: absolute;
               left: 26px;
               font-size: 38px;
           }
       }
       .media-body{
        h3{
           
            font-size: 16px;
            color: $color-black;
            margin-left:75px ;
          
        }
        span{
          
            color: #8a8a8a;
            font-size: 15px;
          
            margin-left:75px ;
           
        }
       }
   }
}