//Colors 
$color-primary:#ff3d1c;
$color-secondary:#eb566c;
$color-title:#31ff7a;
$color-black:#1c1930;
$color-sub-title:#677294;
$color-text:#10285d;
$color-nav:#10285d;
$color-white:#fff;
$opacity-color:rgba(0,1,2,0.4);

//Fonts
$primary-font:'Sulphur Point', sans-serif;
$secondary-font:'Josefin Sans', sans-serif;
$sacremoto-font:'Sacramento', cursive;

//Font Size
$title-font-size:50px;
$sub-title-font-size:30px;
$text-font-size:16px;
