#intro{
  background-image: url('../img/slider/slider-img.jpg');
  position: relative;
  &::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color:$opacity-color;
  }
  .slogan{
      padding: 280px 0px;
      text-align: center;
      position: relative;
      z-index: 1;
      h4{
      color: $color-title;
      font-size:$title-font-size+10;
      line-height: 1.2;
      margin-bottom: 30px;
      font-family: 'Sacremento',cursive;
      display: block;
      }
      h1{
       color: $color-white;
       font-size: 78px;
      }
      .search-box{
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          border-radius: 50px;
          border: 8px solid rgba(255, 255, 255, 0.2);
          .inpt-grb{
            input{
                width: 45%;
                border-top-left-radius: 50px;
                border-bottom-left-radius: 50px;
                position: relative;
               }
          }
      
      }
     
  }
}
